{% load avatar_tags %}

<div class="mt-5">
    {% for view in views %}
        <div class="card rounded-3 mb-4">
            <div class="card-body">
                <div class="d-flex">
                    {% avatar view.user 48 class="rounded-avatar" id="user_avatar" %}

                    <div class="d-flex justify-content-between flex-grow-1 mx-2">
                        <div>
                            <h5 class="card-title">{{ view.user.first_name }} {{ view.user.last_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@{{ view.user.username }}</h6>
                        </div>

                        <small>{{ view.created_at }}</small>
                    </div>
                </div>

                <p class="card-text lead">
                    {{ view.content }}
                </p>

            </div>
        </div>
    {% endfor %}
</div>